{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "printWidth": 90
}